<!-- <mat-toolbar color="primary">

  <span ><mat-icon>eco</mat-icon>Grocery App</span>
  <div class="spacer"></div>
  <a mat-button routerLink="Home">Home</a>
  <a mat-button routerLink="Products">Products</a>
  <a mat-button routerLink="About">About us</a>
  <a mat-raised-button color="accent"  routerLink="Sign">Sign up</a>
</mat-toolbar> -->


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" routerLink = "home" href="#">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink = "addproduct" routerLinkActive = "active" href="#">Add Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink = "productlist" routerLinkActive = "active" href="#">Product list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink = "orderlist" routerLinkActive = "active" href="#">order list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink = "orderadd" routerLinkActive = "active" href="#">order add</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" routerLink = "search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">SearchItem</button>
      </form>
    </div>
  </nav>